doctype html
head
  title INLAB FHIR Blockchain 
  style.
    Body {
    background-image:
    url('https://64.media.tumblr.com/e93099f853c2ca571647b256810fd4be/55518610e63fa8f5-7e/s1280x1920/e41176d4058186eed3acf05f48b7bc8047e706ac.gif');
    font-family: Calibri, Helvetica, sans-serif;
    background-size: 1500px;
    }
    h1 {
    width:400px;
    margin: 0 auto;
    text-align: center;
    display: block;
    color: white;
    }
    a {
    width:400px;
    margin: 0 auto;
    text-align: center;
    display: block;
    background: teal;
    }
    p {
    width:900px;
    margin: 10px 1020px;
    text-align: center;
    display: block;
    color: black;
    }
    button {
    width: 60%;
    color: orange;
    padding: 15px;
    margin: 90px 1200px;
    border: none;
    cursor: pointer;
    background: black;
    display: block;
    color: white;
    }
    button:hover {
    opacity: 0.7;
    }
link(href='https://fonts.googleapis.com/css?family=Iceland' rel='stylesheet')
h1(style="font-family: 'Iceland';font-size: 70px;")  INLAB FHIR Blockchain 
img(src='https://is1-ssl.mzstatic.com/image/thumb/Purple123/v4/dc/7b/96/dc7b963a-d00c-a738-5a5a-48b7c3202c28/source/512x512bb.jpg' style='width:600px; margin: 80px 1100px;' alt='EHR')
p(style="font-family: 'Iceland';font-size: 50px;")
  b
    | You have successfully added EHR data to Blockchain.
    | Health Bridge and INLAB FHIR Blockchain.
button#myButton(style="font-family: 'Iceland';font-size:40px; height:100px;width:300px; " onclick="location.href = 'http://203.247.240.226:22650/api';" data-inline='true') Go Back
